.fireworks-container {
  position: relative;
  width: 100px;
  height: 100px;
}


.firework {
  width: 0;
  height: 0;
  border-bottom: 100px solid #d9d9d9; /* adjust the color and height as desired */
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  position: relative;
  transform: rotate(-45deg);
  margin: 50px auto;
  animation: fireworks 1s ease-out forwards;
}



@keyframes fireworks {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}